body {
  background: rgb(254, 207, 35);
  background: radial-gradient(
    circle,
    rgba(254, 207, 35, 1) 0%,
    rgba(254, 102, 16, 1) 100%
  );
}
.container {
  width: 600px;
  margin: 0 auto;
}
.logo {
  margin: 3% auto 0;
  display: block;
  width: 15%;
}
.copy h1 {
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  margin: 10px 0 6%;
}
.wrapper {
  margin: 0 0 30px;
  position: relative;
}
.pointer-wrapper {
  position: absolute;
  top: -18px;
  left: 46%;
  z-index: 1;
}
.wheel {
  position: relative;
  top: 15px;
  width: 65%;
}
.wheel,
.table {
  display: block;
  margin: auto;
}
.table {
  width: 50%;
}
.button {
  margin: 0 0 40px;
}
.spin-btn {
  display: block;
  cursor: pointer;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 250px;
  height: 60px;
  color: #ffffff;
  background: #ff5722;
  font-weight: bold;
  transition: 0.3s;
}
.spin-btn:hover {
  background: #bf360c;
}
.spin-btn:focus {
  outline: 0;
}
